<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                The future of development is in students!
            </p>
            <p class="subtitle">
                Donec rhoncus aliquet tellus non dignissim.
                Fusce dictum, nisi ut fringilla consectetur, est velit ultricies nulla, sed lobortis nisi metus eu
                lorem.
                Proin malesuada faucibus metus id tristique.
                Pellentesque in tortor a velit porttitor aliquet.
                Nam fermentum, justo ac gravida aliquam, sem purus tincidunt diam, eget fermentum erat orci at diam.
                Nunc nec placerat justo. Vivamus sodales orci nec auctor blandit.
                Vivamus consequat orci in nisi tristique aliquet.
                Etiam dignissim scelerisque eros vitae accumsan. Aenean consectetur gravida libero, sed consequat libero
                accumsan in.
                Etiam congue, arcu vel consectetur mollis, nibh justo luctus erat, vitae ornare ante felis quis diam.
                Pellentesque blandit dolor eu ipsum laoreet molestie.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <p>Scroll down to learn more!</p>
    </div>
</section>
<section class="section has-text-centered">
    <p class="title">Recent projects</p>

    <div class="columns">

        {{#if hasDatabaseError}}
        <p>Couldn't fetch the projects at the moment, try again later.</p>
        {{else}}
            {{#if projects.length}}

            {{#each projects}}
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-3">{{projectName}}</p>
                            </div>
                        </div>

                        <div class="content">
                            <p>{{description}}</p>
                        </div>
                        <a href="/project/{{id}}/info" class="button">Learn more!</a>
                    </div>
                </div>
            </div>
            {{/each}}

            {{else}}
            <p>No projects have been posted yet!</p>
            {{/if}}
        {{/if}}
    </div>

    <a href="/projects" class="button is-success">View all my projects!</a>

</section>