<section class="section has-text-centered">
  <p class="title">Projects</p>
</section>

{{#if projects.length}}

  {{#each projects}}
    <section class="projects">
      <section class="project">
        <div class="columns">
          <div class="column">
            <img src="{{img}}" alt="Placeholder image">
          </div>
          <div class="column">
            <div class="has-tex-left-aligned">
              <p class="title">{{title}}</p>
              <p class="subtitle">{{subtitle}}</p>
            </div>
            <div class="has-text-centered">
              <a href="/project/{{id}}" class="button">Learn more!</a>
            </div>
          </div>
        </div>
      </section>
    {{/each}}

    {{else}}
      <p>No projects have been posted yet!</p>
  {{/if}}





</section>