{{#if project}}
    <img src="{{project.img}}" alt="Placeholder image">
    <p class="title">{{project.title}}</p>
    <p class="subtitle">{{project.subtitle}}</p>
    <h3>{{project.id}}</h3>
{{else}}
    <p>project does not exist!</p>
{{/if}}